.poppins-light {
    font-family: "Poppins", sans-serif;

}

body
{
    font-family: Poppins;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000000;
    text-transform: uppercase;
    padding-top: 1rem;
    padding-left: 1em;
  }
  
  /*Penser à utiliser rem plutôt que em*/
  li {
    float: right;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #333;
  }
  
  #logo{
    display: inline-block;
    margin-top: -1em;
  }

  #grille {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(4,1fr);
    gap: 5px;
  }

  #image1{
    grid-column: 1/span 3;
    grid-row: 1;
   
}

#image2{
    grid-column: 1/span 3;
    grid-row: 2;

}

#image3{
    grid-column: 1;
    grid-row:3;
   
}

#image4{
    grid-column: 2;
    grid-row:3;
    opacity: 0.5;
}

#image5{
    grid-column: 3;
    grid-row: 3;
  

}

#image6{
    grid-column: 1;
    grid-row: 4;
    opacity: 0.5;
}

#image7{
    grid-column: 2;
    grid-row: 4;

}

#image8{
    grid-column: 3;
    grid-row: 4;
    opacity: 0.5;
}

img {
    height: 100%;
    object-fit:cover;
}


footer{
    background-color: black;
    padding: 3em 5em;
    margin-top: 5px;
}
.line{
    display: flex;
    border-bottom: 1px solid rgb(233, 5, 5);
    align-items: center;
    margin-bottom: 1em;
    margin-top: 5px;
    margin-left: -2em;
    margin-right: -2em;
    }

    .grid-container {
        color: white;
        margin-top:1em ;
        display: grid;
        grid-template-columns: repeat(5,1fr);
        grid-template-rows: repeat(2,1fr);
        grid-gap: 1em;
        justify-items: center;
    }

@media screen and (min-width: 992px) and (max-width: 1280px) {

    #grille {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(5,1fr);
        gap: 5px;
      }

    #image1{
        grid-column: 1/span 2;
        grid-row: 1;
       
    }
    
    #image2{
        grid-column: 1/span 2;
        grid-row: 2;
    
    }
    
    #image3{
        grid-column: 1;
        grid-row:3;
       
    }
    
    #image4{
        grid-column: 2;
        grid-row:3;
    
    }
    
    #image5{
        grid-column: 1;
        grid-row: 4;
      
    
    }
    
    #image6{
        grid-column: 2;
        grid-row: 4;
      
    }
    
    #image7{
        grid-column: 1;
        grid-row: 5;
    
    }
    
    #image8{
        grid-column: 2;
        grid-row: 5;
    }
}

@media screen and (max-width: 992px){

    #grille {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(8,1fr);
        gap: 5px;
      }

    #image1{
        grid-column: 1;
        grid-row: 1;
       
    }
    
    #image2{
        grid-column: 1;
        grid-row: 2;
    
    }
    
    #image3{
        grid-column: 1;
        grid-row:3;
       
    }
    
    #image4{
        grid-column: 1;
        grid-row:4;
    
    }
    
    #image5{
        grid-column: 1;
        grid-row: 5;
      
    
    }
    
    #image6{
        grid-column: 1;
        grid-row: 6;
      
    }
    
    #image7{
        grid-column: 1;
        grid-row: 7;
    
    }
    
    #image8{
        grid-column: 1;
        grid-row: 8;
    }

    .grid-container {
        color: white;
        margin-top:1em ;
        display: grid;
        grid-template-columns: repeat(2,1fr);/* possible d'utiliser "grid-template-columns: repeat(auto-fit,minmax(100px,1fr)" commande utile*/
        grid-template-rows: repeat(4,1fr);
        grid-gap: 1em;
        justify-items: center;
    }

    /*Exemple des déclarations des images pour le html en backgrounds

    #img1{
    background-image: url(./images/background1.jpg);
    }
    faire une classe .card pour le reste de la 3ème et 4ème ligne avec les 6 images
    .card{
    padding:20px;
    height:40vh;
    */
}