@font-face {
  font-family: "OW Normal";
  src: url(fonts/OUTERwilds-Normal.otf);
}

@font-face {
  font-family: "OW Starry";
  src: url(fonts/OUTERwilds-Starry.otf);
}

html {
  height: 100%;
}

body{
    font-family: "OW Normal";
}

h1 {
  color: orangered;
  text-align: center;
  margin-top: 5%;
}

footer {
  font-family: "OW Starry";
  color: white;
}

.rectangle {
  background-color: rgba(0, 4, 255, 0.178);
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 2%;
  width: 50;
  color: rgb(68, 243, 24);
  padding: 1%;
}

#background {
  background-image: url("images/ow.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; /* Pour empêcher le défilement de l'image*/
}

a:hover {
  color: gold;
}

footer {
  margin-top: 21%;
  text-align: center;
}
