p {
    color: blue;
}

p.important{
    color:red;
}

#special {
    color: green;
    text-decoration: underline;
}

div{
    display:block;
    background: lightgray;
    font-style: italic;
    margin-left: 2px;
}

.marge{
    margin-left:10px;
}