:root {
  --couleur-primaire: #781D16;
  --couleur-secondaire: #f3f3f3;
  --duree-animation: 1.5s;
}

.poppins-light {
    font-family: "Roboto", sans-serif;

}

body
{
    font-family: Roboto;
    color: white;
    height: auto;
}


#navbar{
    width:100%;
    /*position: fixed;Nécessaire pour avoir la barre qui reste affichée pendant le défilement
    top: 0;/*Nécessaire pour avoir la barre en haut et non pas ailleurs sur la page*/
    display: flex;
    background-color: rgba(50, 48, 63, 0);
    color:white;
    justify-content: center;
    padding: 0rem;
    text-transform:uppercase;
    gap: 2rem;
}

#navbar a{
  text-align: center;
  color:inherit;
  text-decoration: none;
}


#navbar h3{
  padding: 1em;
}

header{
  background-image:url(./bg_header.jpg);
  background-position: center;
background-repeat: no-repeat;
position: relative;
background-size: cover;
  height: 600px;
  padding-left: 15%;
    padding-right:15%;
}

main{
  background-color:#606060 ;
  height: auto;
  padding-left: 15%;
    padding-right:15%;
}

footer{
  background-image: url(./bg_footer.jpg);
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  width: -moz-available;
  background-size: cover;
  height: 496px;
}

.Adroite{
    object-fit:cover;
    display: flex;
    flex-direction:column;
    padding: 1em;
    justify-content:end;
    text-align: end;
    width: 507px;
    margin-left: auto; 
    margin-right: 0;
    margin-top: 9rem;
  

}

.Adroite h1{
  font-size: xxx-large;
  font-weight: 400;
  text-transform:uppercase;
}

header button{
  background-color:#CCA57C;
  border: none;
  border-radius: 15px;
  color:white;
  padding: 0.2em 0.8em;
  margin-left: auto; 
  margin-right: 0;
  display: flex;
}

#hall{
  background-color: #272727;
  padding-left: 3rem;
  padding-right: 3rem;
  height: 698px;
}

#hall h1{
  display: flex;
  justify-content: center;
  padding-top:1rem;
  margin-bottom: 5rem;
}

.couleur{
  color:#CCA57C;
  display: inline;
}

.couleurMarge{
  color:#CCA57C;
  display: inline;
  border-left: solid;
  padding-left: 2rem;
}

.grid{
display: grid;
    grid-template-columns: 3.5fr 1fr;
    gap: 3px;
    width: 100%;
    height:fit-content;
    gap: 5px;
}

.texte{
  font-weight: 300;
  grid-column: 1;
  size: fit-content;
  display: grid;
  gap: 1rem;
  justify-content: inherit;
}

.texte p{
  size:fit-content;
}

.imagehall{
  background-image:url(./london_hall.jpg);
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  background-size: inherit;
  grid-column: 2;
  width:100%;
  height: auto;
}

.grid button{
  grid-column: 2;
  display: flex;
  width: fit-content;
  padding: 0.2em 0.8em;
  background-color:#CCA57C;
  border:none;
  color:white;
  position:absolute;
  right:22%;
  top:192%;
}

.grid2{
display: grid;
    grid-template-columns: 1fr 1fr 1.5fr;
    gap: 3px;
    width: 100%;
    height:fit-content;
    gap: 5px;
}

#projects{
  background-color:#CCA57C;
  padding-left: 3rem;
  padding-right: 3rem;
  height: 668px;
}

#projects h1{
  display: flex;
  justify-content: center;
  padding-top:1rem;
  margin-bottom: 5rem;
}

.couleurNoir{
  color:#272727;
  display: inline;
}

.imageParis{
  background-image:url(./paris.jpg);
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  background-size: inherit;
  grid-column: 1;
  width:100%;
  height: auto;
}

.imageLondon{
  background-image:url(./london.jpg);
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  background-size: inherit;
  grid-column: 2;
  width:100%;
  height: auto;
}

.container{
  grid-column: 3;
  height:400px;
}

.imageLogo{
background-image:url(./logo12.png);
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  background-size: inherit;
  width:100%;
  height: 47%;
  left:-29%
}


.grid2 .button{
  display: flex;
  width: fit-content;
  padding: 0.2em 0.8em;
  background-color:#272727;
  border:none;
  color:white;
  position:absolute;
  right:70%;
  top:318%;
}

.grid2 .btn{
  display: flex;
  width: fit-content;
  padding: 0.2em 0.8em;
  background-color:#272727;
  border:none;
  color:white;
  position:absolute;
  right:53%;
  top:318%;
}



#services{
  background-color: #272727;
  padding-left: 3rem;
  padding-right: 3rem;
  height: 779px;
}

#services h1{
  display: flex;
  justify-content: center;
  padding-top:1rem;
  margin-bottom: 5rem;
}



.containerV2{
    display: flex;
    width:100%;
    margin-top:10%;
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.89);
    padding-left: 2%;  
    grid-column: 3;
    height: 313px;
    padding: 1rem;
    gap: 1rem;
  display: grid;
}
  
.containerV3{
    width:100%;
    margin-top:10%;
    border-radius: 3px;
    background-color:#cca57cc4;
    padding: 2rem;  
    background-image: url(visuelgauche.jpg);
    grid-column: 2;
    max-height: 313px;
  }

  .logoPoly{
    background-position: left;
    background-repeat: no-repeat;
    position: relative;
    background-size: inherit;
    background-image: url(poly-logo.png);
    height: 10rem;
  }

  .logo3D{
    background-position: left;
    background-repeat: no-repeat;
    position: relative;
    background-size: inherit;
    background-image:url(3d-logo.png);
    height: 10rem;
  }

  #colonne1{
  grid-column: 1;
  display: grid;
  height: 517px;
  }


  #colonne1 button{
    background-color: #606060;
    color: #CCA57C;
    height: fit-content;
    border: none;
    border-left: solid 2px #CCA57C ;
    max-width: 50%;
  }

  #colonne2{
  grid-column: 2;
  display: grid;
  height: 517px;
  }

    #colonne2 button{
    background-color:#CCA57C;
    color:#606060;
    height: fit-content;
    border: none;
    border-left: solid 2px #CCA57C ;
    max-width: 50%;
  }

  #colonne3{
  grid-column: 3;
  justify-content: end;
  display: grid;
  height: 517px;
  text-align: end;
  }

  .monde{
    background-image: url(map.png);
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    background-size: inherit;
    height: 15rem;
  }

.grid3{
    display: grid;
    grid-template-columns: 1fr 375px 375px 1fr;
    gap: 3px;
    width: 100%;
    height:fit-content;
    gap: 5px;
}

hr { 
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
  color:#CCA57C;
  height: 1px;
  width: -moz-available;
} 

#name,#message,#email{
    width: 95%;
    border: none;
    border-bottom: 1px solid;
    border-color: white;
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.89);
}

input::placeholder {
  font-weight: bold;
  opacity:none;
  color: white;
}

textarea::placeholder {
  font-weight: bold;
  opacity: none;
  color:white;
}


.containerV2 button{
  text-transform: uppercase;
  color: white;
  background-color: #CCA57C;
  border:none;
  border-radius: 5px;
  margin-top: 1rem;
  padding:2px;
}