/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  /* 2. Remove default margin */
  * {
    margin: 0;
  }
  
  body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
  }
  
  /* 5. Improve media defaults */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  /* 6. Inherit fonts for form controls */
  input, button, textarea, select {
    font: inherit;
  }
  
  /* 7. Avoid text overflows */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  /* 8. Improve line wrapping */
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  
  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  } 

  .poppins-light {
    font-family: "Poppins", sans-serif;

}

body{
    margin-left: 2%;
    margin-right:2%;
    font-family: Poppins;
    width: 80%;
    margin-left: 10%;
}

h2{
    color:blue;
    display: inline-block;
}

h1{
    color: red;
    display: inline-block;
}

h3{
    text-transform:uppercase;
}

div{
    background-color: rgb(218, 227, 238);
    border-left: solid 4px blue;
    padding-left: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
    border-radius: 4%;
}

table{
    width: 100%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.correction{
    text-align: start;
}

.correctionFin{
  text-align: end;
}

.weight
{
  font-weight: 500;
}
.width{
  width: 95%;
}


.widthmoyen{
  width: 75%;
}