@font-face {
    font-family: "OW Normal";
    src: url(fonts/OUTERwilds-Normal.otf);
  }
  
  @font-face {
    font-family: "OW Starry";
    src: url(fonts/OUTERwilds-Starry.otf);
  }

 html {
    height: 100%;
  }
  
  body{
      font-family: "OW Normal";
  }
  
  h2 {
    color: rgb(76, 0, 255);
    text-align: left;
    margin-top: 2%;
    margin-left:2%;
    margin-right:10%;
    display:inline-block
  }
  

  h4{
    color:azure;
    text-align: right;
    margin-top: 2%;
    margin-right: 2%;
    display:inline-block;
  }

h3{
  text-align: center;
  color:lightgray;
  margin-top: 2%;
  margin-right: 2%;
}
  
  .rectangle {
    background-color: rgba(0, 4, 255, 0.178);
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 2%;
    width: 50;
    color: rgb(68, 243, 24);
    padding: 1%;
  }
  
  #background {
    background-image: url("images/bg-desktop.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; /* Pour empêcher le défilement de l'image*/
  }

  h4:hover{
    color: rgb(36, 168, 3);
    border-left :solid rgba(11, 126, 180, 0.692);
    border-right:solid rgba(11, 126, 180, 0.692);
  }

  #premieresection{
    width:40%;
    margin-top: 12%;
    background-color: rgba(1, 2, 78, 0.781);
    margin-left:30%;
    text-align: center;
    padding-bottom: 1%;
  }
  #secondesection{
    margin-top: 3%;
    color:rgb(184, 4, 255);
    width:60%;
    background-color: rgba(0, 0, 10, 0.842);
    margin-left:20%;
    text-align: center;
  }

  .container{
    width:35%;
    margin-left:32.5%;
    margin-top:10%;
    border-radius: 3px;
    background-color: rgba(104, 86, 3, 0.651);
    padding: 1%;
    color:rgb(255, 115, 0);
    }

.zone
    {
      width: 95%;
      border: solid rgba(185, 185, 185, 0.733);
      border-radius: 3px;
      background-color: rgba(255, 255, 255, 0.733);
      margin-bottom: 2%;
      margin-top: 2%;
  }

.container{
    text-align: center;
  }
  .minisection{
    width:30%;
    display:inline-block;
    margin:1%;
  }

  .minisection:hover{
    background-color: rgba(138, 74, 0, 0.842);
    color:rgb(255, 0, 234);
  }

  button{
    margin-top:2%;
    background-color:yellow;
    border:solid yellow;
    border-radius:2px;
  }
  
  button:hover{
    background-color:orange;
    border:solid orange;
    border-radius:2px;
  }
  
  button:focus{
    background-color:red;
    border:solid red;
    border-radius:2px;
  }

  .dnger{
    color:red;
    margin-top: 1%;
    margin-bottom: 1%;
  }

  
  footer{
    margin-top:5%;
    text-align: center;
    font-family: "OW Starry";
    color: white;
    background-color: rgba(0, 0, 0, 0.678);
  }


  @media screen and (max-width: 720px) {
    #background {
        background-image: url("images/bg-phone.png");
    }
    h2 {
      color: rgb(76, 0, 255);
      text-align: center;
      margin-top: 2%;
      margin-left:15%;
      margin-right:15%;
      display: block;
      margin-bottom: 4%;
    }

    h4{
      text-align: center;
      color:azure;
      margin-top: 2%;
      display: block;
    }

    #secondesection{
      margin-top: 3%;
      color:rgb(184, 4, 255);
      width:80%;
      background-color: rgba(0, 0, 10, 0.842);
      margin-left:10%;
      text-align: center;
    }

    .minisection{
      width: 70%;

    }

    #premieresection{
      width:80%;
      margin-top: 5%;
      background-color: rgba(1, 2, 78, 0.781);
      margin-left:10%;
      text-align: center;
      padding-bottom: 1%;
    }

    .container{
      width:80%;
      margin-left:10%;
      margin-top:7%;
      border-radius: 3px;
      background-color: rgba(104, 86, 3, 0.651);
      padding: 1%;
      color:rgb(255, 115, 0);
      }
  }

  @media screen and (min-width: 721px) and (max-width: 1366px) {
    #background {
        background-image: url("images/bg-tablet.jpg");
    }

    h2 {
      color: rgb(76, 0, 255);
      text-align: center;
      margin-top: 2%;
      margin-left:15%;
      margin-right:15%;
      display: block;
      margin-bottom: 4%;
    }

    h4{
      text-align: center;
      color:azure;
      margin-top: 2%;
      margin-right: 40%;
      margin-left: 45%;
      display: block;
    }

    #premieresection{
      width:50%;
      margin-top: 5%;
      background-color: rgba(1, 2, 78, 0.781);
      margin-left:25%;
      text-align: center;
      padding-bottom: 1%;
    }

    .container{
      width:50%;
      margin-left:25%;
      margin-top:7%;
      border-radius: 3px;
      background-color: rgba(104, 86, 3, 0.651);
      padding: 1%;
      color:rgb(255, 115, 0);
      }
  }

