.container{
    width:50%;
    margin-left:25%;
    margin-top:10%;
    border-radius: 3px;
    background-color: white;
    padding-left: 2%;
    }

h1{
    margin-right:10%;
    text-align: center;
    margin-bottom: 2%;
}

h2{
    color:rgb(0, 162, 255);
    margin-bottom:5%;
}

.poppins-light {
    font-family: "Poppins", sans-serif;

}

body
{
    background-color: lightgray;
    font-family: Poppins;
    font-weight: 300;
}

textarea,select{
    width: 90%;
    border-color: lightgray;
    border-radius: 3px;
    background-color: white;
}

.rect{
    display:block;
    width: 95%;
    border-color: lightgray;
    border-radius: 3px;
    background-color: white;
    margin-top: 1%;
    margin-bottom: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
    border:solid 1px lightgray;
}

button{
    width : 15%;
    background-color:rgb(0, 162, 255);
    border:solid rgb(0, 162, 255);
    border-radius: 3px;
    color:white;
    margin-top:3%;
    margin-bottom: 5%;
    padding-top:1%;
    padding-bottom:1%;
}

  
  .progress-container {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 30px;
    max-width: 100%;
    width: 350px;
    margin-top: 10px;
    margin-left: 22%;
  }


  .progress {
    background: rgb(0, 162, 255);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 4px;
    width: 0%;
    z-index: -1;
    transition: 0.4s ease;
  }
  
  .circle {
    background: rgb(206, 206, 206);
    border-radius: 50%;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid rgb(206, 206, 206);
    transition: .4s ease;
  }
  
  .circle.active {
    color:white;
    border-color: rgb(0, 162, 255);
    background:rgb(0, 162, 255);
  }


.espace{
    display:block;
    padding-top: 1%;
    padding-bottom: 1%;
}

h3{
    color:lightgreen;
}

.center{
    text-align:center;
}