:root {
    --couleur-fond: white;
    --couleur-texte: black;
    --couleur-section: #F6F6F6;
    --couleur-bordure:lightgray;
    --couleur-titre:rgb(36,143,214);
}

.poppins-light {
    font-family: "Poppins", sans-serif;
}

body
{
    font-family: Poppins;
    transition: all 4s;
    background-color: var(--couleur-fond);
    color: var(--couleur-texte)
}

main{
    padding-top: 10em;
    background-color: var(--couleur-bordure);
    padding-bottom: 5em;
}

.left{
    text-align: left;
    padding-left: 1em;
  }

h1{
    color: var(--couleur-texte);
    text-align: left;
    padding-left: 1em;
    padding-top: 0.5em;
}

h1::after{
    display: block;
    content: "";
    margin: auto;
    width: 0;
    height: 2px;
    background-color: var(--couleur-titre);
    transition: width 0.3s;
}

h1:hover::after{
    width: 100%;
}

nav{
    width: 100%;
    position: fixed;
    top: 0;
    display: flex;
    color: var(--couleur-texte);
    justify-content: space-between;
    padding: 1em;
    padding-left: 1%;
    padding-right:5%;
    border-bottom: solid 2px var(--couleur-bordure);
    background-color:  var(--couleur-fond);
  }

li{
    list-style-type: none;
}
a{
    color: var(--couleur-texte);
    text-decoration: none;
    transition: border-bottom 0.5s;
}

ul{
    display: flex;
    gap:2em;
}

.material-icon{
    color:var(--couleur-texte);
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 19px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -moz-osx-font-smoothing: grayscale;
}
.principal{
    display: grid;
    justify-content: center;
    align-items: center;
}
.center{
    display:flex;
    justify-content: center;
    font-size: xxx-large;
}

.centre{
    display: flex;
    text-align: center;
}
.sous{
    display: none;
    box-shadow: 0px 1px 2px #CCC;
    background-color: white;
    position: absolute;
    padding:0;
}

.deroulant > a::after{
    content:" ▼";
    font-size: 12px;
}

nav > ul li:focus-within .sous{ /* focus-within fonctionne au clic et reste actif contrairement à onclick */
    display: block;
    
}
.sous > li{
    display: inline-block;
    vertical-align:top;
    text-align: left;
    margin: 0.5em;
}
.sous > a{
    padding: 0;
    border-bottom: none;
    margin: 0.5em;
}
a:hover{
    color: var(--couleur-titre);
    border-bottom:solid 1px var(--couleur-titre);
}

.titre{
    color :var(--couleur-titre);
}
#menu-mobile{
    display: none;
}

.menu-hamburger{
    display: none;
}

@media screen and (max-width: 992px){

ul{
    display: none;
}

.menu-hamburger{
    display:flex;
    flex-direction: column;
    gap: 0.2rem;
}

.menu-hamburger > .trait {
    display:block;
    height:2px;
    padding:2px;
    width:40px;
    margin:3px 0;
    background-color: var(--couleur-titre);
}

#menu-mobile:checked ~.nav-menu{
    display:block;
}


}