#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    object-fit:fill;/*utiliser pour qu'elle couvre bien toute la page*/
  }

  .content {
    position: fixed;
    bottom: 0;
    background: rgba(14, 14, 14, 0.356);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
    text-align:center;
  }

  #centre{
    height: 100%;
    width: 100%;
    display: flex;
    position:fixed;
    align-items:center;
    justify-content:center;
    flex-direction: column;
    gap:1em;
    color: white;
    background-color:rgba(0, 0, 0, 0.466);
  }

button{
  background-color: blue;
  color: white;
  padding: 1em;
  border: solid 1px blue;
  border-radius: 1em;
}