.poppins-light {
    font-family: "Poppins", sans-serif;

}

body
{
    font-family: Poppins;
}

#page {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-areas:
      "head head head"
      "nav main sidebar"
      "foot foot foot";
    grid-template-columns: 1.5fr 7.5fr 2fr;
    grid-template-rows:  4em  1fr 20em;
}

#head{

    grid-area: head;
    position: fixed;/*Nécessaire pour avoir la barre qui reste affichée pendant le défilement*/
    top: 0; /*Nécessaire pour avoir la barre en haut et non pas ailleurs sur la page*/
    display: flex;
    background-color: #2C3D50;
    color:white;
    justify-content:left;
    padding: 1em;
    width: 100%;
}

.material-icon{
    color:#4ABA92;
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 44px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -moz-osx-font-smoothing: grayscale;
}

#nav{
    grid-area:nav;
    object-fit:cover;
    display: flex;
    flex-direction:column;
    padding: 1em;
    background-color: #F6F6F6;

  }

a{
    color:black;
    text-decoration:none;
}

.nava{
    margin-top: 1em;
    padding: 0.5em;
    padding-left: 0.5em;
}

.nava:hover{
    color:white;
    display: block;
    width: 11em;
    height: fit-content;
    background: #4ABA92;
    padding: 0.5em;
    padding-right: 5em;
    text-align: left;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}

#main{
    grid-area: main;
    object-fit:cover;
    display: flex;
    flex-direction:column;
    padding: 1em;
    margin-left:15em;
    margin-right: 15em;
    justify-content: space-between;
}

#sidebar {
    grid-area: sidebar;
    background-color: #F6F6F6;
    object-fit:cover;
    display: flex;
    flex-direction:column;
    padding: 1em;
    margin-left:1em;
}

#foot{
    grid-area: foot;
    background-color: #2C3D50;
    color:#F6F6F6;
    width: 100%;
    padding:1em;
}

.grid-container {
    margin-top: 1em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
}

p{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

h3{
    margin-top: 2em;
}


#centre{
    display: flex;
    justify-content:center;
}
.button1{
    display: flex;
    background-color: #4ABA92;
    border:solid 1px #4ABA92;
    border-radius:6px;
    margin:1em;
    width:fit-content;    
    padding:0.5em;
}

.button2{
    background-color: #4ABA92;
    border:solid 1px #4ABA92;
    border-radius:6px;
    margin-top:0em;
    margin-bottom: 1em;
    text-align:start;
    padding: 0.5em;
    width: 100%;
}

.line{
    display: flex;
    border-bottom: 1px solid gray;
    align-items: center;
    margin-bottom: 1em;
    }

.line2{
        display: flex;
        border-bottom: 1px solid gray;
        align-items: center;
        margin-bottom: 1em;
        margin: 1em;
    
 }

.rect{
    display:block;
    width: 100%;
    border-color: lightgray;
    border-radius: 3px;
    background-color: white;
    margin-top: 2%;
    margin-bottom: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
    border:solid 1px lightgray;
    }

.rectangle{
    border-color: lightgray;
    border-radius: 3px;
    background-color: white;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    padding: 0.5em;
    border:solid 1px lightgray;
    width: fit-content;
    display: inline-block;
}

#grid-container2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1em;
    margin: 1em;
}


.inline{
    display: inline-block;
}

.logo{
    color:#969B91;
    margin:0.4em;
}

.column{
    display:flex;
    flex-direction:column;
}

.gray{
    color:#969B91;
}

.center{
    display:flex;
    justify-content: center;
}

@media screen and (min-width: 760px) and (max-width: 1366px) {

    #page {
        display: grid;
        width: 100%;
        height: 100%;
        grid-template-areas:
          "head head"
          "nav nav"
          "main sidebar"
          "foot foot";
        grid-template-columns: 2fr 1fr;
        grid-template-rows:  4em 5em  1fr 20em;
    }
    
    #nav{
        grid-area:nav;
        display: flex;
        flex-direction:row;
        justify-content:space-evenly;
        padding-right: 4em;
        padding-left:4em;
      }

#main{
    grid-area: main;
    object-fit:cover;
    display: flex;
    margin-left:1em;
    margin-right: 1em;}


    .grid-container {
        display:contents;
    }

    .nava{
        margin-top: 1em;
        padding: 0.5em;
        padding-left: 0.5em;
    }
    
    .nava:hover{
        color:white;
        display: block;
        width: fit-content;
        height: fit-content;
        background: #4ABA92;
        padding: 0.5em;
        text-align: left;
        border-radius: 5px;
        color: white;
        font-weight: bold;
    }
}

@media screen and (max-width: 760px) {
    #page {
        display: grid;
        width: 100%;
        height: 100%;
        grid-template-areas:
          "head"
          "nav"
          "main"
          "sidebar"
          "foot";
        grid-template-columns:1fr;
        grid-template-rows:  4em 8em  2.5fr 1fr 1.5fr;
    }

    #nav{
        grid-area:nav;
        display: flex;
        flex-direction:row;
        justify-content:space-evenly;
        padding-right: 2em;
        padding-left:2em;
      }

      #main{
        grid-area: main;
        object-fit:cover;
        display: flex;
        margin-left:1em;
        margin-right: 1em;}

        .grid-container {
            display:contents;
        }

        .nava{
            margin-top: 1em;
            padding: 0.5em;
            padding-left: 0.5em;
        }
        
        .nava:hover{
            color:white;
            display: block;
            width: fit-content;
            height: fit-content;
            background: #4ABA92;
            padding: 0.5em;
            text-align: left;
            border-radius: 5px;
            color: white;
            font-weight: bold;
        }

        #sidebar {
            grid-area: sidebar;
            background-color: #F6F6F6;
            object-fit:cover;
            display: flex;
            flex-direction:column;
            padding: 1em;
            margin-left:0em;
        }

        #grid-container2{
            display: grid;
            grid-template-columns: 1fr;
            grid-gap: 1em;
            margin: 1em;
        }

        .ligne{
            display: flex;
            border-bottom: 1px solid gray;
            align-items: center;
            margin-bottom: 1em;
            margin-top:1em;
            }
        
}
