#background-element{
    background-image: url("images/jinx.jpg");
    background-size:1700px 1000px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 29%;
    border: solid 4px purple;
}

h1{
    color: rgb(206, 0, 247);
    text-align: center;
    font-size: 80px;
}