body {
  background-color: lightgray;
  text-align: center;
}

#morpion{
  background-color: gray;
  display: inline-block;
  margin: 0 auto;
  padding: 15px;
}

#morpion div {
  margin: 0 auto;
  overflow: hidden;
}

#morpion .case{
    width: 50px;
    height: 50px;
}