.container{
    width:50%;
    margin-left:25%;
    margin-top:10%;
    border-radius: 3px;
    background-color: white;
    padding-left: 2%;
    }

h1{
    margin-right:10%;
    text-align: center;
    margin-bottom: 2%;
}

.poppins-light {
    font-family: "Poppins", sans-serif;

}

body
{
    background-color: lightgray;
    font-family: Poppins;
    font-weight: 300;
}

textarea,select{
    width: 90%;
    border-color: lightgray;
    border-radius: 3px;
    background-color: white;
}

.rectorange{/* rajouter une classe pour simplifier tout ça*/
    display:block;
    width: 95%;
    border-color: lightgray;
    border-radius: 3px;
    background-color: white;
    margin-top: 2%;
    margin-bottom: 2%;
    border:solid 1px orange;
}

label{
    font-weight: 500;
}

button{
    width : 75%;
    background-color:rgb(0, 68, 255);
    border:solid rgb(0, 68, 255);
    border-radius: 3px;
    color:white;
    margin-top:3%;
    margin-bottom: 5%;
}

#myReset{
    width: 20%;
    margin-top:3%;
    margin-bottom: 5%;
    background-color: lightgray;
    border: solid lightgray;
    border-radius: 3px;
}

#myReset:hover{
    background-color:rgb(221, 219, 219);
    border:solid rgb(221, 219, 219);
}

button:hover{
    background-color: rgb(0, 102, 255);
    border:solid rgb(0, 102, 255);
}

.gris{
    color:gray;
    font-size:small;
    margin-bottom: 3%;
}

.a{
    display:block;
}

.b{
    margin-right: 2%;
    margin-bottom: 3%;
}

.c{
    margin-top: 3%;
}

.d{
    margin-bottom: 3%;
}

