#navbar{
    width: 100%;
    position: fixed;
    display: flex;
    background-color: rgb(50, 48, 63);
    color:white;
    justify-content: space-around;
    padding: 1em;
    padding-left: 5%;
    padding-right:5%;
}

h2{
    width:60%;
    margin-bottom: 1%;
}

.underline{
    color:rgb(0, 81, 255);
    border-bottom: solid 1px rgb(0, 81, 255);
}

.poppins-light {
    font-family: "Poppins", sans-serif;

}

body
{
    font-family: Poppins;
    height: 100%;
}

button{
background-color:rgb(0, 81, 255) ;
border:solid rgb(0, 81, 255);
color: white;
border-radius: 3px;
font-weight: 600;
}

h3:hover{
    color:rgb(0, 81, 255);
    border-bottom: solid 1px rgb(0, 81, 255);
}

h1{
    margin-bottom: 1%;
}

#centre{
    height:30em;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}

#secondeSection{
    padding: 5%;
    margin-top: 3%;
    width:100%;
    text-align: center;
    align-items: center;
    justify-content:center;
  }

.miniSection{
    width:20%;
    display:inline-block;
    margin:1%;
    border: solid 1px lightgray;
  }

  #troisiemeSection{
    background-color: lightgray;
    padding: 5%;
  }

#portfolio{
    border: dashed;
    color: gray;
    background-color: white;
    padding:3% 2%;
    text-align: center;
    align-items: center;
    justify-content:center;
}

.section{
    padding: 5%;
}

#para{
    display: flex;
    flex-direction: column;
}

.margeBot{
    margin-bottom: 1%;
}