body {
    background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fcdnb.artstation.com%2Fp%2Fassets%2Fimages%2Fimages%2F082%2F243%2F563%2Flarge%2Fprime-archives-jinx-absolute-cinema-colored-ver.jpg%3F1732473899&f=1&nofb=1&ipt=c0b735ab9528ab404e52526dbef9d2a23cf876b6865faf07a85e7646601c35c1.png");
    background-position: center;
    display: block;
}