#navbar{
    width: 100%;
    position: fixed;/*Nécessaire pour avoir la barre qui reste affichée pendant le défilement
    top: 0;/*Nécessaire pour avoir la barre en haut et non pas ailleurs sur la page*/
    display: flex;
    background-color: rgb(50, 48, 63);
    color:white;
    justify-content: space-around;
    padding: 1em;
    padding-left: 5%;
    padding-right:5%;
}

h2{
    width:60%;
    margin-bottom: 1%;
}

.underline{
    color:rgb(0, 81, 255);
    border-bottom: solid 3px rgb(0, 81, 255);
    padding-bottom:1em;
}

.poppins-light {
    font-family: "Poppins", sans-serif;

}

body
{
    font-family: Poppins;
    height: 100%;
}

.buton{
background-color:rgb(0, 81, 255) ;
border:solid rgb(0, 81, 255);
color: white;
border-radius: 3px;
font-weight: 600;
height: fit-content;
}

h3{
    height: fit-content;
}

a:hover{
    color:rgb(0, 81, 255);
    border-bottom: solid 1px rgb(0, 81, 255);
}

h1{
    margin-bottom: 1%;
}

#centre{
    height:40em;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}

#secondeSection{
    display: flex;
    margin-top: 3%;
    width:100%;
    text-align: center;
    align-items: center;
    justify-content:center;
  }

.miniSection{
    display: flex;
    width:30em;
    flex-direction:column;
    height: 14em;
    margin-right:1em;
    box-shadow: 1px 1px 1px 1px lightgray;
    padding: 2em;
  }

.troisiemeSection{
    background-color: lightgray;
    padding: 5%;
  }

.portfolio{
    border: dashed;
    color: gray;
    background-color: white;
    padding:3% 2%;
    text-align: center;
    align-items: center;
    justify-content:center;
}

.section{
    padding: 5%;
}

#para{
    display: flex;
    flex-direction: column;
}

.margeBot{
    margin-bottom: 1%;
}


footer{
    color:white;
    background-color: rgb(50, 48, 63);
    text-align: center;
    align-items: center;
    justify-content:center;
    padding-top: 1%;
    padding-bottom: 2%;
}

.material-icon{
    color:blue;
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 44px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -moz-osx-font-smoothing: grayscale;
}

a{
    color: white;
    text-decoration: none;
}

.buton:hover{
    color:white;
    border-bottom: solid 3px rgb(0, 81, 255);
}

a:focus{
    text-decoration: none;
}