.poppins-light {
    font-family: "Poppins", sans-serif;

}

body
{
    margin: 3em;
    font-family: Poppins;
}

#grille {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(4,1fr);
    gap: 3px;
    width: 90em;
    height: 75em;
  }

#image1{
    grid-column: 1/span 2;
    grid-row: 1/ span 2;
   
}

#image2{
    grid-column: 3/5;
    grid-row: 1;

}

#image3{
    grid-column: 3;
    grid-row:2;
   
}

#image4{
    grid-column: 4;
    grid-row:2;

}

#image5{
    grid-column: 1;
    grid-row: 3/5;
  

}

#image6{
    grid-column: 2;
    grid-row: 3;
  
}

#image7{
    grid-column: 2;
    grid-row: 4;

}

#image8{
    grid-column: 3/span 2;
    grid-row: 3/ span 2;

}

img {
    height: 100%;
    width: 100%;
    object-fit:cover;
}

@media screen and (max-width: 720px) {

#grille {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(4,1fr);
    gap: 3px;
    width: 30em;
    height: 25em;
  }

}

@media screen and (min-width: 721px) and (max-width: 1366px) {
    #grille {
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: repeat(4,1fr);
        gap: 3px;
        width: 50em;
        height: 40em;
      }
    }    